.shopTitle {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    color: rgb(10, 68, 226)
}

.categories-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}